* {
  margin: 0;
  padding: 0;
}

html, body{
	height: 100%;
	font-family: sans-serif;
	font-size: 14;
}

label{
	font-size: 14px !important;
}

.container1{
	height: 100%;
	width: 100%;
}

.logo{
	height: 100px;
}

#account{
	float: right;
	margin: 40px;
}

.header{
	height: 100px;
	width: 100%;
	background-color: #FFF9E4;
}

h2{
	margin: 10px;
}

hr{
	margin: 0px !important;
}
.menu-top{
	overflow: hidden;
	width: 100%;
	height: 50px;
	background-color: #00BCD4;
}

.main1res{
	width: 47% !important;
}

.menu-top ul {
	list-style-type: none;
	margin-left: 10px;
}

.menu-top li{
	float: left;
	display: inline-block;
	width: auto;
	height: 50px;
	line-height: 50px;
	text-align: center;
	padding: 0px 10px 0px 10px;
	color: white;
}

.menu-top a {
	text-decoration: none;
	color: #fff;
}

.menu-top a:hover {
	text-decoration: none;
	color: #fff;
}

.menu-top li:hover {
	background: #FCB71E;	
}

.category a{
	text-decoration: none;
	color: #000;
}

.category a:hover{
	color: #FCB71E !important;
	text-decoration: none !important;
}


.active{
	color: #FCB71E !important;
	text-decoration: none !important;
}

.menu-left{
	margin-top: 2px;
	min-width: 280px;
	width: 20%;
	height: 100%;
	display: inline-block;
	float: left;
}

.border{
	border: 1px solid;
	box-shadow: 2px 2px 2px #888888;
	border-color: #9ca4a6;
}

#minimize{
	width: 100%;
	height: 50px;
	background-color: #00BCD4;
}

i{
	margin-right: 5px; 
}

.minimize{
	display: none;
}

.minimizeButton{
	float: right;
	height: 30px;
	width: 30px;
	background-color: transparent;
	margin: 10px;
	border-style: none;
}

#list{
	width: 100%;
	background-color: white;
}

.content{
	width: 100%;
	height: 100%;
}

.category ul{
	list-style-type: none;
}

.category li{
	height: 50px;
	line-height: 50px;
	margin: 0px 10px 0px 10px;
}

.list-lv2{
	margin: 0px 10px 0px 50px !important;
}

.list-lv3{
	margin: 0px 10px 0px 90px !important;
}

.list-lv4{
	margin: 0px 10px 0px 130px !important;
}

.main1{
	min-width: 450px;
	margin: 5px;
	width: 30%;
	height: 100%;
	display: inline-block;
	float: left;
}

.main2{
	min-width: 700px;
	margin: 5px;
	width: 48%;
	height: auto;
	display: inline-block;
	float: left;
}

.search{
	margin: 2px;
	height: 100px;
	border: 1px solid;
	border-radius: 5px;
	border-color: #9ca4a6;
	line-height: 100px;
	padding-left: 20px;
}

.searchInput{
	height: 25px;
	border: none;
	color: #9ca4a6;
	background-color: transparent;
	border-bottom: 1px solid !important;
	line-height: unset !important;
}

#searchButton{
	cursor: pointer;
	float: right;
	width: 120px;
	height: 40px;
	margin: 30px 10px 0px 0px;
}

.folder ul{
	list-style-type: none;
}

.folder li{
	height: 50px;
	line-height: 50px;
	margin: 0px 10px 0px 10px;
}

.main-form{
	margin: 10px;
}

#sidebar.active {
    min-width: 50px;
    max-width: 50px;
    text-align: center;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active span {
    display: none;
}

#sidebar.active #icon {
    display: none;
}

#sidebar .active .list-lv2 {
	margin-left: -10px;
}

/* Same dropdown links padding*/
#sidebar.active ul ul a {
    padding: 10px !important;
}

/* Changing the arrow position to bottom center position, 
   translateX(50%) works with right: 50% 
   to accurately  center the arrow */
#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}